.contact-preview {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 5fr 2fr;
  max-width: em(500px);
  width: 100%;
  padding: em(5px) em(30px) em(15px) em(30px);
  border-radius: 5px;

  &:hover {
    box-shadow: inset 3px -4px 20px 0px rgba(255, 255, 255, 0.278);
    cursor: pointer;
  }

  .phone {
    align-self: end;
  }
  .name {
    align-self: center;
  }

  .img {
    grid-row: 1 / -1;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
